[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.10b0"
ipython = "*"

[packages]
boto3 = "*"
requests = "*"
pygments = ">=2.7.3" # pinning pygments to >= 2.7.3 for CVE-2021-20270

[requires]
python_version = "3.8"
